* {
    user-select: none;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: center;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #232323;
    color: #d8d8d8;
    font-family: "Segoe UI", San Francisco, Arial, sans-serif;
    place-content: center;
    place-items: center;
    place-self: center;
}

.back {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: larger;
    padding: 1.25%;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);
    color: white;
    transition: all .1s ease-in-out;
}

.back:hover {
    transition: all .1s ease-in-out;
    background-color: rgba(255, 255, 255, .1);
}